<%= form_tag login_path do %>

    <div class="label_area">
      <%= label_tag 'Электронная почта', nil, class: 'email_label_tag' %>
      <br>
      <%= label_tag 'Пароль', nil, class: 'password_label_tag' %>
    </div>

    <div class="data_area">
      <%= email_field_tag :email, nil, class: 'email_data_field' %>
      <br>
      <%= password_field_tag :password, nil, class: 'password_data_field' %>
    </div>

    <div>
      <%= submit_tag 'Вперёд!', class: 'login_button' %>
    </div>

<% end %>