<%= form_tag login_path do %>
    <div>
      <%= label_tag 'Электронная почта', nil, class: 'label_tag' %>
      <%= email_field_tag :email, nil, class: 'email_field' %>
    </div>

    <div>
      <%= label_tag 'Пароль', nil, class: 'label_tag' %>
      <%= password_field_tag :password, nil, class: 'password_field' %>
    </div>

    <div>
      <%= submit_tag 'Вперёд!', class: 'login_button' %>
    </div>

<% end %>