<div style="text-align: center">
  <h3><%= @user.name %>'s page</h3>
  E-mail: <%= @user.email %>
  <br>
  Registered: <%= @user.created_at.strftime('%d-%b-%Y') %>
  <br>
  <br>

  <% unless @moods.empty? %>
    Last user's moods
    <div>
        <% @moods.each do |mood| %>
          <div>
            <%= link_to "#{mood.user.name}", user_path(mood.user) %>'s mood was <%= mood.status %> <%= time_ago_in_words(mood.created_at) %> ago
          </div>
        <% end %>
    </div>
  <% end %>



  <br><br><br>
  <div>
    <%= link_to 'Home', root_path %>
  </div>
</div>