<div class="user_page">

  <div class="user_name">
    <% unless current_user %>
        <h2><%= @user.name %>'s page</h2>
    <% end %>
  </div>


  <div class="how_are_you">
    <% if current_user %>
        <h2>Как настроение, <%= link_to current_user.name, user_path(current_user) %>?</h2>
        <div class="variants">
            <div class="bad"><%= link_to 'Плохое',    new_mood_path(:bad),    method: :post%></div>
            <div class="good"><%= link_to 'Хорошее',   new_mood_path(:good),   method: :post %></div>
            <div class="great"><%= link_to 'Отличное',  new_mood_path(:great),  method: :post %></div>
        </div>
    <% end %>
  </div>

  <div class="moods_list">
    <% unless @moods.empty? %>
        <h3>Последние настроения</h3>
        <div>
            <% @moods.each do |mood| %>
            <div>
              У <%= link_to "#{mood.user.name}", user_path(mood.user) %> было <%= t mood.status %> настроение <%= time_ago_in_words(mood.created_at) %> назад
            </div>
            <% end %>
        </div>
    <% end %>
  </div>

  <div class="average_mood">
    <h2>Среднее настроение</h2>
    <h2>
        <%= t MoodCalculator.weight_to_word(@average_mood) %>
    </h2>
  </div>

</div>