<div style="text-align: center">
  <h1>Welcome to Happynaria!</h1>
  <h3>Website under construction :)</h3>

  <%= link_to 'Sign Up', new_user_path%>
  <%= link_to 'Log In', login_path %>

  <div>
    <%= link_to "#{current_user.name}", user_path(current_user) if current_user %>
    <%= link_to 'Logout', logout_path if current_user%>
  </div>

  <br><br>

  <div>
    <% @moods.each do |mood| %>

        <div>
            <%= mood.user.name %>'s mood was <%= mood.status %> <%= time_ago_in_words(mood.created_at) %> ago
        </div>
    <% end %>
  </div>

</div>